{{#partial "contenido"}}

<div class="panel panel-primary">
  <div class="panel-heading">{{nombre}}</div>
  <div class="panel-body">
  	<label for="text">Direccion: {{direccion}}</label><br>
    <label for="text">Latitud: {{coordenada.latitud}}</label><br>
    <label for="text">Longitud: {{coordenada.longitud}}</label><br>
    <label for="text">Radio de Cercania: {{radio}}</label><br>
  </div>
</div>

{{/partial}}


{{>BaseAdmin.hbs}}
