{{#partial "contenido"}}

<form role="form" action="/terminales" method="POST">
        <div class="form-group" >
	    <label for="comuna">Comuna:</label>
	      <select class="form-control" name="comuna">
		     {{#each comunas}}
			  	<option value={{nombre}}>{{nombre}}</option>
			  {{/each}}
   		  </select>
	  	</div>
  <button type="submit" class="btn btn-default">Buscar</button>
</form>

<table class="table table-striped">
  	<tr>
		<th>Nombre</th>
		<th>Comuna</th>
		<th>Accion</th>
		
			{{#each busquedas}}
				<tr>
				  	<td>{{nombre}}</td>
				  	<td>{{comuna}}</td>
				  	<td><a href="{{url}}"><span class="glyphicon glyphicon-search"></span></a></td>
			  	</tr>
			{{/each}}
	</tr>
</table>
{{/partial}}


{{>BaseAdmin.hbs}}